<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nf.framework"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- 明确声明支持的屏幕尺寸 -->
    <supports-screens android:anyDensity="true" />
    <application
        android:name="com.nf.framework.ConstantApplication"
        android:theme="@style/notitlebar" >
        <activity
            android:name="com.nf.framework.browser.URLBrowerByTitleActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.nf.framework.more.AbsOperationGuideActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.nf.framework.browser.URLBrowerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.nf.framework.picShow.PicDealActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.nf.framework.imagebrowser.ImageBrowserActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.nf.framework.updateapk.UpdateAppService" />

        <!-- 杏树林 友盟渠道 -->
        <meta-data
            android:name="XINGSHULIN_CHANNEL"
            android:value="统计测试" />
    </application>

    <!-- 友盟使用到得权限 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 允许振动 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" /> <!-- 快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" /> <!-- 快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-sdk android:minSdkVersion="7" />

</manifest>